<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>
        <h1>
            <%= title %>

        </h1>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>


        <div>
            <form action="">
                <input placeholder="Enter Location" type="text">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

    </header>
    <footer>Copy right received</footer>
    <script src="/js/app.js"></script>
</body>

</html>